.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.search-box {
  width: 250px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.topbar-icons {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 22px;
}

.profile-img {
  width: 40px;
  border-radius: 50%;
}
