* {
  margin: 0;
  box-sizing: border-box;
}

.link {
  text-decoration: none;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.admin-container {
  display: flex;
  height: 100vh;
}

.main-content {
  flex: 1;
  background: #f4f6f9;
  overflow-y: auto;
  padding: 20px;
}

.link-admin-sidebar {
  color: white;
  text-decoration: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
